[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
scipy = "*"
numpy = "*"
sympy = "*"
pandas = "*"
h5py = "*"
pint = "*"
uncertainties = "*"
pymc3 = "*"
ipykernel = "*"
matplotlib = "*"
dask = "*"
scikit-hep = "*"
boltons = "*"
aenum = "*"
uproot = "*"
particle = "*"
numpythia = "*"
formulate = "*"
scikit-learn = "*"
scikit-optimize = "*"
glorentz = "*"
iminuit = "*"
keras = "*"
dataclasses = "*"
requests = "*"

[requires]
python_version = "3.7"
