[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
boltons = "*"
aenum = "*"

[packages]
scipy = "*"
numpy = "*"
sympy = "*"
pandas = "*"
h5py = "*"
pint = "*"
uncertainties = "*"
pymc3 = "*"
ipykernel = "*"
matplotlib = "*"
dask = "*"

[requires]
python_version = "3.7"
